*{
    box-sizing: border-box;
    font-size: 1em;
    scroll-behavior: smooth!important;
}
#collapseme ul li a:active{
    background-color: white!important;
    color:black!important;
}
.float-right a:hover{
    background-color: rgba(255,255,255,0.1);
    border: 0px solid transparent;
    border-radius:5% ;
}

.position-nav{
    position: fixed!important;
    width:100%;
}
.article{
    padding-left: 60px!important;
    display: inline-block!important;
    margin-right: 0px!important;
    box-sizing: border-box!important;
    box-shadow: 0.4px 3px 4px grey;
}
@media only screen and (min-width:400px){
    .article {
        width:400px!important;
        height:470px!important;
        box-shadow: 0.4px 3px 9px grey;
    }
    
}

@media only screen and (min-width:768px) {
    #collapseme ul li a{
        margin-right:5px!important;
    }
    #collapseme ul li a:active{
    background-color: white!important;
    color:black!important;
}
    #welcome{
        font-size: 4em;
    }
    .right{
        font-size: 1.2rem;
    }
    .img-project{
        width:200px!important;
    }
    .article{
        width:400px!important;
        height:450px!important;
        box-shadow: 0.4px 3px 6px grey;
    }
    .article+div{
        width:600px!important;
        height:600px!important;
    }
    #about p{
        font-size: 1em!important;
    }
    .article img{
        height:200px!important;
        width:300px!important;
    }
    #download :hover{
    background-color: grey!important ;
    }
    .progress-part li span{
        width:100%!important;
        height: 12px!important;
    }
    #about about1, about2{
        text-align:center ;
    }
}


#download :hover{
    background-color: grey;
}

.footer-social:hover{
    color: rgba(27, 209, 233, 0.9)!important;
}
#animation1{
    animation-name: animation-one;
    animation-duration: 2s;
}
@keyframes animation-one{
    
    10%{
        color: rgba(0,0,0,0.6);
    }
    40%{
         color: rgba(0,0,0,0.5);
    }
    50%{
        color: rgba(0,0,0,0.4);
    }
    50%{
        color: rgba(0,0,0,0.3);
    }
}
